<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--param-value>Production</param-value-->
        <param-value>Development</param-value>
    </context-param>
    <!-- The BootsFaces_USETHEME context-param controls the loading of the bootstrap-theme.css -->
    <!-- The default is false, when set to true the bootstrap-theme.css will be loaded -->
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>true</param-value>
    </context-param>

	<!-- Activates the tag decorator that turns divs into JSF components (and much more) -->
	<context-param>
		<param-name>javax.faces.FACELETS_DECORATORS</param-name>
		<param-value>
            de.beyondjava.angularFaces.core.tagTransformer.AngularTagDecorator
        </param-value>
	</context-param>
	<!-- jQuery doesn't cope with JSF's default separator. This setting fixes the problem. -->
 	<context-param>
		<param-name>javax.faces.SEPARATOR_CHAR</param-name>
		<param-value>-</param-value>
	</context-param>
 
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/page/*</url-pattern>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>/javax.faces.resource/*</url-pattern>
	</servlet-mapping>
	
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>page/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
